* {
  margin: 0;
  padding: 0;
  background-color: #222222;
  font-family: 'Questrial', sans-serif;
}

.container-nav {
  background-color: #222222;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom:2px solid #909090;
  padding-bottom:10px;
  #logo {
  }
  nav {
    color: white;
    ul {
      box-sizing: border-box;
      li {
        margin-left: 75px;
        font-size: 20px;
        padding-top: 10px;
        display: inline-block;
        list-style: outside none none;
        margin: 0 1.5em;
        overflow: hidden;
        a {
          text-decoration: none;
          color: white;
          padding: 0.3em 0;
          position: relative;
          display: inline-block;
          letter-spacing: 1px;
          margin: 0;
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
          font-weight: 100;
          &::before,
          &::after {
            position: absolute;
            // -webkit-transition: all 0.35s ease;
            // transition: all 0.35s ease;
          }
          &::before {
            bottom: 200%;
            display: block;
            height: 3px;
            width: 100%;
            content: "";
            background-color: #ff3366;
          }
          &::after {
            padding: 0.3em 0;
            position: absolute;
            bottom: 100%;
            left: 0;
            content: attr(data-hover);
            color: white;
            white-space: nowrap;
          }
        }
        &:hover a,
        .active a {
          transform: translateY(100%);
          -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
        } 
      }

      .empty {
        border: 2px solid #ff3366;
        border-radius: 5px;
        padding: 10px;
        color: #ff3366;
        margin-left: 75px;
        font-size: 20px;
        padding-top: 10px;
        text-transform: uppercase;
      }
      .filled {
        border: 2px solid #ff3366;
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        background-color: #ff3366;
        margin-left: 75px;
        font-size: 20px;
        padding-top: 10px;
        text-transform: uppercase;
      }
    }
  }
}

.container {
  position: relative;
  display: flex;
  border-bottom:2px solid rgba(177, 177, 177, 0.534);
  color: #fff;
  .left-side {
    position: relative;
    width: 70%;
    min-height: 100vh;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
  }
  .right-side {
    display:flex;
    margin: 0;
    padding: 20px;
    width: 30%;
  }
}